<ion-view view-title="">
    <ion-content class="course-detail" scroll="false">
        <!-- <div class="padding"></div> -->
        <div class="list">
            <div class="item item-icon-left" ng-repeat="r in vm.blocks" ng-click="vm.goNextLevel(r)" ng-class="{'locked': r.access.locked === 1 || !r.access, 'animated fadeInDown': vm.shouldAnimate}" ng-if="r.id !== 6">
                <h2 class="title">{{r.name}}</h2>
                <!-- <i class="icon ion-star" ng-if="r.access.locked == 0"></i> -->
                <grade value="r.grade" show-full="false" show-pending="false"></grade>
            </div>
        </div>
        <div class="cover-beer" ng-class="{'animated fadeInRight' : vm.shouldAnimate}">
        </div>
        <div class="support-block">
            <button class="button button-balanced button-full" ui-sref="main.course.detail.block.module({course_id: 1, block_id: 6, module_id: 13})">
                Start here
            </button>
        </div>
    </ion-content>
</ion-view>
