@font-face {
    font-family: 'Oswald';
    src: url($ionicons-font-path + '/oswald.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Proxima Nova';
    src: url($ionicons-font-path + '/proxima_nova.otf'); /*URL to font*/
}

body{
    font-family: 'Proxima Nova'
}
