.sidemenu {
    position: relative;
    .user-content {
        height: 200px;
        background-image: url('../assets/images/cover_side_menu.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: flex;
        justify-content: center;
        align-items: center;
        .user-img {
            width: 120px;
            margin-left: 8px;
            margin-right: 8px;
            img {
                border: 6px solid #153c1d;
                overflow: hidden;
                border-radius: 50%;
                width: 100%;
            }
        }
        .user-data{
            .username{
                color: white;
                font-size: 20px;
                line-height: 1.786546165;
                font-family: 'Oswald';
            }
            .user-grade{
                color: white;
                font-weight: 600;
                font-family: 'Oswald';
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }
    .logout{
        position: absolute;
        width: 100%;
        bottom: 0;
        button {
            margin: 0;
        }
    }
}
