/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
// $light:                           #fff !default;
// $stable:                          #f8f8f8 !default;
// $positive:                        #4a87ee !default;
// $calm:                            #43cee6 !default;
// $balanced:                        #66cc33 !default;
// $energized:                       #f0b840 !default;
// $assertive:                       #ef4e3a !default;
// $royal:                           #8a6de9 !default;
// $dark:                            #444 !default;
$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #4a87ee !default;
$calm: #43cee6 !default;
$balanced: #2eb668 !default;
$energized: #f0b840 !default;
$assertive: #ef4e3a !default;
$royal: #8a6de9 !default;
$dark: #49423c !default; // The path for our ionicons font files, relative to the built & temporary main.css
$ionicons-font-path: "../assets/fonts" !default; // Include all of Ionic
@import "../../bower_components/ionic/scss/ionic";
@import "animate";
@import "fonts";
@import "sidemenu";
@import '../components/home/home';
@import '../components/course/course';
@import '../components/block/block';
@import '../components/module/module';
@import '../components/exam/exam';
@import '../components/login/login';
@import '../components/user/user';
@import '../components/grade/grade';

.text-bold {
	font-weight: bold;
}

.text-uppercase {
	text-transform: uppercase;
}

.button {
	font-family: 'Oswald';
}

.button.button-dark {
	color: #f0ebd7;
	font-size: 3.5vh;
	padding-top: 10px;
	padding-bottom: 10px;

	&:active,
	&:focus,
	&:hover {
		color: #f0ebd7;
	}
}

.button.button-dark.activated {
	background-color: #f0ebd7;
	color: #49423c;
}

.chevron-down {
	background-image: url('../assets/images/chevron_down.png') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center;
	width: 65px;
}

.item.item-input.has-error {
	border-bottom: 3px #ca0000 solid;

	span.input-label {
		color: #ca0000;
	}
}

.form-error-message {
	padding: 0 16px;
	font-size: 12px;
	color: #ca0000;
}

.scroll {
	height: 100%;
}

.list .item span.grade:not(.grade-icon) {
	position: absolute;
	left: 11px;
	top: 40px;
	font-size: 27px;
	text-align: center;
	width: 35px;
}

.loading-container .loading {
	margin-right: 70px;
	margin-left: 70px;
}

i.button-pdf-email-icon::before {
    font-size: 40px !important;
}
