<ion-side-menus enable-menu-with-back-views="false">

	<!-- CONTENT -->
	<ion-side-menu-content>

		<!-- header bar -->
		<!-- the nav bar will be updated as we navigate between views -->
		<ion-nav-bar class="bar-dark">
			<!-- back button, shown if applicable -->
			<ion-nav-back-button>
			</ion-nav-back-button>
			<!-- nav button, shown if applicable -->
			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<!-- ROUTING INJECTED HERE: pageContent -->
		<ion-nav-view name="pageContent"></ion-nav-view>

	</ion-side-menu-content>

	<!-- SIDEMENU -->
	<ion-side-menu side="left" width="300">

		<!-- menu header -->
		<!-- <ion-header-bar class="bar-dark">
			<h1 class="title">Nav</h1>
		</ion-header-bar> -->

		<!-- menu content -->
		<ion-content class="sidemenu">
			<div class="user-content">
				<div class="user-img">
					<img ng-src="{{menu.prof_pic}}" alt="" on-hold="menu.changeProfilePicture()">
				</div>
				<div class="user-data">
					<span class="username">{{menu.user.name}} {{menu.user.lastname}}</span> <br>
					<span class="user-grade">{{menu.user.diploma ? 'Draugh Master' : 'Trainee'}}</span>
				</div>
			</div>
			<ion-list>
                <!-- <ion-item menu-close ui-sref="main.home">
					Home
				</ion-item> -->
                <ion-item menu-close ui-sref="main.course.detail({course_id: 1})" ui-sref-opts="{reload: true}">
					Course <br>
				</ion-item>
                <ion-item menu-close ui-sref="main.user">
                    Cambiar contraseña
                </ion-item>
			</ion-list>
			<div class="logout">
				<button class="button button-assertive button-full" menu-close ng-click="menu.logout()">LOGOUT</button>
			</div>
		</ion-content>

	</ion-side-menu>

</ion-side-menus>
