<span class="grade grade-red grade-icon" ng-if="vm.case === 1" ng-attr-title="{{'Calificación estrella con: ' + vm.value}}">
    <i class="icon ion-star"></i>
</span>
<span class="grade" ng-if="vm.case === 2" ng-attr-title="{{'Aprobado con: ' + vm.value}}" ng-class="{'grade-red': !vm.showFull}">
    {{ vm.showFull ? 'Aprobado': 'A'}}
</span>
<span class="grade" ng-if="vm.case === 3" ng-attr-title="{{'Insucifiente con: ' + vm.value}}" ng-class="{'grade-icon': !vm.showFull}">
    <i class="icon ion-alert" ng-if="!vm.showFull"></i>
	<span ng-if="vm.showFull">Insuficiente</span>
</span>
<span class="grade" ng-if="vm.case === 4">
    {{vm.showPending ? (vm.showFull ? 'Pendiente': 'Pdte') : ''}}
</span>
