.user {
    background-color: $stable;

	h1 {
		text-align: center;
		font-size: 26px;
		color: #555;
	}

	.card {
		.title {
			background-color: #233746 !important;
			color: white !important;
		}
	}
}
