<ion-view title="Perfil" cache-view="false">
	<ion-content class="user padding">
        <h1>
            {{vm.user.name}} {{vm.user.lastname}}
        </h1>
		<div class="card" ng-form="form">
			<div class="item item-divider title">
				Cambiar contraseña
			</div>
			<div class="item item-input item-stacked-label">
				<span class="input-label">Contraseña anterior</span>
				<input type="password" placeholder="" ng-model="vm.user.password" ng-required="true" name="password">
			</div>
			<div class="item item-input item-stacked-label" ng-class="form.newpassword.$invalid ? 'has-error' : ''">
				<span class="input-label">Nueva contraseña</span>
				<input type="password" placeholder="" ng-minlength="'6'" maxlength="20" ng-model="vm.user.new_password" ng-required="true" name="newpassword">
			</div>
            <div class="form-error-message" ng-show="form.newpassword.$invalid">
                La contraseña debe ser mayor a 5 caracteres.
            </div>
            <div class="form-error-message" ng-show="vm.user.password && vm.user.new_password && vm.user.password === vm.user.new_password">
                La contraseña anterior y la actual deben ser diferentes.
            </div>
            <div class="item item-input item-stacked-label" ng-class="vm.user.renew_password !== vm.user.new_password ? 'has-error' : ''">
				<span class="input-label">Re-ingresar contraseña</span>
				<input type="password" placeholder="" ng-minlength="'6'" maxlength="20" ng-model="vm.user.renew_password" ng-required="true" name="repassword">
			</div>
            <div class="form-error-message" ng-show="vm.user.renew_password !== vm.user.new_password">
                Las contraseñas no coinciden.
            </div>
		</div>
        <button class="button button-block button-balanced" ng-disabled="form.$invalid || vm.user.password === vm.user.new_password || vm.user.renew_password !== vm.user.new_password" ng-click="vm.changePassword()">
            <i class="icon ion-paper-airplane"></i> Enviar
        </button>
	</ion-content>
</ion-view>
