.block {
	background-color: #ebebea;
	background-image: url('../assets/images/block_background.png');
	background-repeat: no-repeat;
	background-size: cover;

	&-navbar {
		background-image: url('../assets/images/block_navbar.png') !important;
		background-size: cover;
		background-repeat: no-repeat;
		color: white;
		font-family: 'Oswald';
		text-transform: uppercase;

		.button-icon,
		.buttons {
			color: white;
		}
	}

	&-separator {
		background-image: url('../assets/images/block_separator.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 90%;
		height: 25px;
		margin: 5px auto auto;
	}

	.list {
		.block-list {
            &.locked {
                background-color: rgba(0,0,0, 0.3);
            }

			&:first-child {
				padding-top: 12%;
			}

		}

		.item {
			padding-left: 20px;
			//padding-right: 30px;
			background: transparent;
			text-align: justify;
			border: none;

			h2 {
				font-family: 'Oswald';
				color: #1a894b;
				font-size: 20px;
				font-weight: 500;
				padding-bottom: 5px;
				text-align: center;
                white-space: normal;
			}

			p {
				white-space: normal;
				font-size: 1rem;
				line-height: normal;
			}
		}
	}

    @media only screen and (min-width: 600px) {
        .list .item p {
            font-size: 1.3rem;
        }
    }
}
