<ion-view>
	<ion-nav-bar class="block-navbar">
		<ion-nav-back-button>
		</ion-nav-back-button>
		<ion-nav-title>
			{{vm.block.name}}
		</ion-nav-title>
	</ion-nav-bar>
	<ion-content class="block">
		<div class="list">
            <div class="block-list" ng-repeat="r in vm.modules" ng-class="{'locked': r.access.locked ===1 }">
                <div class="item" ng-class="{'item-icon-right': r.access.locked == 1}" ng-click="vm.goNextLevel(r, $last)">
                    <h2>{{r.name}}</h2>
                    <p>{{r.description}}</p>
                    <i class="icon ion-locked" ng-if="r.access.locked == 1"></i>
                </div>
                <div class="block-separator"></div>
            </div>
		</div>
	</ion-content>
</ion-view>
