.course {
	&-detail {
		//background-color: #008439;
		background-image: url('../assets/images/cover.png');
		background-repeat: no-repeat;
		background-size: cover;

		.list {
			width: 50%;

			.item {
				white-space: normal;
				padding-top: 22%;
				padding-bottom: 10px;
				background: transparent;
				border-right: 0;
				border-bottom: 3px solid #1b9328;
				border-top: none;

				h2 {
					white-space: normal;
                    font-size: 5vw;
				}

				i {
					padding-top: 12%;
					color: red;
				}
			}

			.title {
				font-family: 'Oswald';
				text-transform: uppercase;
				font-size: 18px;
				color: #00ff72;
			}

			.locked {
				border-bottom: 3px solid #786b64;

				h2 {
					color: #786b64;
				}
			}
		}

		.support-block {
			width: 50%;
			position: absolute;
			bottom: 15px;

			.button {
				text-transform: uppercase;
			}
		}

		.cover-beer {
			background-image: url('../assets/images/cover_beer.png');
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top right;
			width: 100%;
			height: calc(100vh - 44px);
			position: absolute;
			top: 0;
			z-index: 0;
		}
	}
}
