.module {
	background-color: #ebebea;
	background-image: url('../assets/images/block_background.png');
	background-repeat: no-repeat;
	background-size: cover;

	&-navbar {
		background-image: url('../assets/images/module_navbar.png') !important;
		background-size: cover;
		background-repeat: no-repeat;
		color: #49423c;
		font-family: 'Oswald';
		text-transform: uppercase;

		.button-icon,
		.buttons {
			color: #00ff67;
		}
	}

	.content-text {
		height: calc(100vh - 44px);
		padding-top: 25px;
		position: relative;
		color: #34312d;

		.text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 10px;
			height: 45vh;

			.title {
				text-transform: uppercase;
				font-weight: bold;
				width: 100%;
                font-size: 1rem;
			}

			.content {
				font-size: 1rem;
				line-height: 1.5;
			}
		}

		.image > img {
			width: 100%;
		}
	}

	.content-fact {
		height: calc(100vh - 44px);
		padding-top: 20px;
		position: relative;
		color: #e7ddbe;
		background-image: url('../assets/images/cover.png');
		background-repeat: no-repeat;
		background-size: cover;

		.text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 10px;
			// height: 41vh;
			.fact {
				color: #3cbe61;
				text-transform: uppercase;
				text-decoration: underline;
				font-weight: bold;
				font-size: 170%;
				text-align: center;
				line-height: 1.5;
			}

			.title {
				font-weight: bold;
				color: #3cbe61;
				font-size: 130%;
				text-align: center;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.content {
				font-size: 14px;
				line-height: 1.5;
			}
		}

		.image > img {
			width: 100%;
		}
	}

	.content-video {
		height: calc(100vh - 44px);
		padding-top: 10px;
		position: relative;
		background-image: url('../assets/images/cover_video.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #e7ddbe;

		.text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 10px;
			height: 39vh;

			.title {
				font-weight: bold;
				text-transform: uppercase;
				font-family: 'Oswald';
				font-size: 170%;
				line-height: 1.5;
			}


			.content {
				font-size: 17px;
			}
			// line-height: 5vh;
		}

		.video > iframe {
			height: 230px;
		}
	}

	.content-video-tip {
		height: calc(100vh - 44px);
		padding-top: 25px;
		position: relative;
		background-image: url('../assets/images/cover_video_tip.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #49423c;

		.text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 10px;
			height: 39vh;

			.title {
				font-weight: bold;
				text-transform: uppercase;
				font-family: 'Oswald';
				font-size: 170%;
				line-height: 1.5;
			}

			.content {
				font-size: 17px;
			}
			// line-height: 5vh;
		}

        .video > iframe {
			height: 230px;
		}
	}

	.content-pdf {
		height: calc(100vh - 44px);
		padding-top: 25px;
		position: relative;
		background-image: url('../assets/images/cover_exam_result.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #e7ddbe;
		font-family: Oswald;
		font-size: 20px;

		.text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 20px;
			line-height: 1;
			height: 35vh;

			.content {
				font-size: 130%;
				line-height: 1.5;
				text-align: center;
			}
		}

		button-pdf {
			button {
				line-height: normal;
				font-size: 16px;
				width: 90%;
				margin: 0 auto;
				display: block;

				.button-text {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.content-text-pdf {
		height: calc(100vh - 44px);
		padding-top: 25px;
		position: relative;
		color: #34312d;

		.text {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			// justify-content: center;
			margin-left: 20px;
			margin-right: 20px;
			padding-bottom: 10px;
			height: 35vh;
			text-align: center;

			.title {
				width: 100%;
				text-transform: uppercase;
				font-weight: bold;
			}

			.content {
				font-size: 14px;
				line-height: 1.5;
			}
		}

		button-pdf {
			button {
				line-height: normal;
				font-size: 14px;
				width: 90%;
				margin: 0 auto;
				display: block;

				.button-text {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.content-exam {
		height: calc(100vh - 44px);
		padding-top: 25px;
		position: relative;
		background-image: url('../assets/images/cover_exam.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #49423c;

		.text {
			margin-left: 10px;
			margin-right: 10px;
			padding-bottom: 20px;
			font-size: 2.5vh;
			line-height: 3.5vh;
			height: 50vh;
			font-weight: bold;
		}

		.exam-title {
			text-align: center;
			font-size: 4vh;
			margin: 25px 30px 15px;
		}

		.exam-description {
			text-align: center;
			padding-top: 20px;
			margin-left: 30px;
			margin-right: 30px;
		}

		.button {
			margin: 10px auto;
		}
	}

	.intro {
		text-align: center;
		color: #e7ddbe;
		background-image: url('../assets/images/module_intro.png');
		background-repeat: no-repeat;
		background-size: cover;

		.text {
			margin-left: 30px;
			margin-right: 30px;
			padding-bottom: 20px;
			height: 37.5vh;

			.content {
				line-height: 1.5;

				.bigger {
					font-size: 110%;
					line-height: 1.3;
				}
			}
		}
	}

	.evidence {
		color: #e7ddbe;

		.text {
			height: 50vh;
			margin: 0 40px;

			.title {
				font-weight: bold;
				width: 100%;
				font-family: 'Oswald';
				font-size: 150%;
				text-transform: none;
				line-height: 1.3;
			}

			.content {
				font-size: 110%;
			}
		}

		.button-gotit {
			margin: 0 auto;
			width: 90%;
		}

		button-pdf {
			button {
				line-height: normal;
				font-size: 14px;
				width: 90%;
				margin: 0 auto;
				display: block;

				.button-text {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}

	.evidence-1 {
		background-image: url('../assets/images/cover_evidence.png');
		background-repeat: no-repeat;
		background-size: cover;
	}

	.evidence-2 {
		background-image: url('../assets/images/cover_brown.png');
		background-repeat: no-repeat;
		background-size: cover;
	}
	@media only screen and (min-width: 600px) {
		.goToAnchor {
			display: none;
		}

        .content-text .text .title, .content-text-pdf .text .title {
            line-height: 1.3;
			font-size: 1.5rem;
		}

		.content-text .text .content, .content-text-pdf .text .content {
			font-size: 1.5rem;
		}

        .content-text .image > img {
            max-height: 370px;
        }

        .content-video .video > iframe {
            height: 400px;
        }

        .content-video-tip .video > iframe {
            height: 400px;
        }
	}
}
