<ion-view>
	<ion-nav-bar class="module-navbar">
		<ion-nav-back-button>
		</ion-nav-back-button>
		<ion-nav-title>
			{{vm.module.name | moduleName}}
		</ion-nav-title>
	</ion-nav-bar>
	<ion-content class="module" delegate-handle="module-handle" overflow-scroll="true">
		<div>
			<div ng-repeat="r in vm.contents">
				<div ng-switch="r.content_type_id">
					<div ng-switch-when="1">
						<div bind-html-compile="r.content_html"></div>
					</div>
                    <div ng-switch-when="2">
						<div bind-html-compile="r.content_html"></div>
					</div>
					<div ng-switch-when="3">
						<div bind-html-compile="r.content_html"></div>
					</div>
					<div ng-switch-when="4">
						<div bind-html-compile="r.content_html"></div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
