.exam {
	&-navbar {
		background: transparent;
		background-image: url('../assets/images/block_navbar.png') !important;
		background-size: cover;
		background-repeat: no-repeat;
		color: #f0ebd7;
		font-family: 'Oswald';
		text-transform: uppercase;

		.button,
		.button-clear,
		.button-icon,
		.buttons {
			color: #00ff67;
			font-family: 'Oswald';
		}

		.title {
			color: #f0ebd7;
			font-family: 'Oswald';
		}
	}

	&-content {
		background-image: url('../assets/images/cover_exam.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #49423c;
	}

	&-finished {
		background-image: url('../assets/images/cover_exam_result.png');
		background-repeat: no-repeat;
		background-size: cover;
		color: #f0ebd7;
		height: 100%;

		.finish-send {
			height: calc(40vh - 44px);
			margin: 20px 30px;
			position: relative;

			.header {
				top: 50%;
				transform: translate(0, -50%);
				position: absolute;
				text-align: center;
				width: 100%;

				p {
					font-family: 'Oswald';
					font-size: 200%;
				}
			}
		}

		.next-module {
			margin: 20px 30px;
			text-align: center;
		}
	}

	&-question {
		text-align: justify;
		margin: 40px;
		font-size: 16px;
		line-height: 3.5vh;
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			margin: 0;
		}
	}

	&-answer {
		.button.button-dark {
			font-size: 16px;
			line-height: 25px;
		}

		.button.button-full {
			width: 80%;
		}

		&-image {
			.image {
				width: 100%;
				text-align: center;

				img {
					width: 50%;
				}
			}
		}
	}

	&-separator {
		background-image: url('../assets/images/exam_separator.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 90%;
		height: 25px;
		margin: 5px auto auto;
	}

	.button {
		margin: 10px auto;
	}

	.exam-answer-image,
	.exam-answer-video {
		.button.button-dark {
			padding-top: 10px !important;
			padding-bottom: 10px !important;
			line-height: 42px !important;
		}
	}

	.exam-answer-opened {
		div {
			margin: 0 40px;

			textarea {
				width: 100%;
				padding: 10px;
				resize: none;
				background: rgba(60, 57, 49, 0.8);
				color: #d5d1bf;
			}
		}
	}

	.challenge {
		color: white;
	}

	.correct {
		background-color: #33cd5f !important;
	}

	.incorrect {
        background-color: #ef473a !important;
    }

    .correct-answers {
        font-family: 'Oswald';
        font-size: 7vw;
    }
}
