<ion-modal-view>
	<ion-header-bar class="exam-navbar">
		<div class="buttons">
			<button class="button button-primary button-icon ion-close" ng-if="!vm.examIsFinished" ng-click="vm.closeModal()">
			</button>
		</div>
		<h1 class="title">
			{{vm.content.name}}
		</h1>
		<div class="buttons">
			<button class="button button-primary button-clear" ng-click="vm.save()">
				<span translate="post.writer.post"></span>
			</button>
			<!--Post-->
		</div>
	</ion-header-bar>
	<ion-content class="exam has-header" ng-class="vm.examIsFinished ? 'exam-finished' : 'exam-content'">
		<section ng-if="!vm.examIsFinished" ng-class="{'challenge': vm.challenge}">
			<div class="exam-question">
				<p bind-html-compile="vm.content.exam[vm.currentQuestion].question"></p>
			</div>
			<div class="exam-separator"></div>
			<div class="exam-answer">
				<div class="exam-answer-opened" ng-if="vm.content.exam[vm.currentQuestion].exam_answer_type_id === 1">
                    <div>
                        <textarea autofocus="autofocus" name="answer" rows="8" ng-model="vm.openedAnswer" ng-trim="true">
                        </textarea>
                    </div>
                    <button class="button button-dark button-full" ng-disabled="!vm.openedAnswer" ng-click="vm.answerQuestion(vm.openedAnswer)">
						Guardar respuesta
					</button>
				</div>
				<div ng-if="vm.content.exam[vm.currentQuestion].exam_answer_type_id === 2">
					<div>
						<button class="button multiple-choise button-dark button-full" ng-class="{ 'correct': vm.clickedAnswer == 1 && vm.correctAnswer  == 1, 'incorrect': vm.clickedAnswer == 1 && vm.correctAnswer  != 1 }" ng-click="vm.answerQuestion(1, $event)">
							{{vm.content.exam[vm.currentQuestion].answer1}}
						</button>
					</div>
					<div>
						<button class="button multiple-choise button-dark button-full" ng-class="{ 'correct': vm.clickedAnswer == 2 && vm.correctAnswer  == 2, 'incorrect': vm.clickedAnswer == 2 && vm.correctAnswer  != 2 }" ng-click="vm.answerQuestion(2, $event)">
							{{vm.content.exam[vm.currentQuestion].answer2}}
						</button>
					</div>
					<div ng-if="vm.content.exam[vm.currentQuestion].answer3 !== null">
						<button class="button multiple-choise button-dark button-full" ng-class="{ 'correct': vm.clickedAnswer == 3 && vm.correctAnswer  == 3, 'incorrect': vm.clickedAnswer == 3 && vm.correctAnswer  != 3 }" ng-click="vm.answerQuestion(3, $event)">
							{{vm.content.exam[vm.currentQuestion].answer3}}
						</button>
					</div>
					<div ng-if="vm.content.exam[vm.currentQuestion].answer4 !== null">
						<button class="button multiple-choise button-dark button-full" ng-class="{ 'correct': vm.clickedAnswer == 4 && vm.correctAnswer  == 4, 'incorrect': vm.clickedAnswer == 4 && vm.correctAnswer  != 4 }" ng-click="vm.answerQuestion(4, $event)">
							{{vm.content.exam[vm.currentQuestion].answer4}}
						</button>
					</div>
				</div>
				<div class="exam-answer-image" ng-if="vm.content.exam[vm.currentQuestion].exam_answer_type_id === 3">
					<button class="button button-dark button-full choose-image" ng-click="vm.takePhoto()">
						<i class="icon ion-camera"></i> Elegir imagen
					</button>
					<div class="image" ng-if="vm.image">
						<img ng-src="data:image/jpeg;base64,{{vm.image}}">
					</div>
					<button class="button button-dark button-full choose-image" ng-if="vm.image" ng-click="vm.answerQuestion(vm.image)">
						Guardar respuesta
					</button>
				</div>
				<div class="exam-answer-video" ng-if="vm.content.exam[vm.currentQuestion].exam_answer_type_id === 4">
					<button class="button button-dark button-full choose-image" ng-click="vm.takeVideo()">
						<i class="icon ion-ios-videocam"></i> Tomar video
					</button> <br>
					<button class="button button-dark button-full choose-image" ng-click="vm.validateAnswer()">
						Enviaré por otro medio
					</button>
					<!-- <div class="image" ng-if="vm.image">
                        <img ng-src="data:image/jpeg;base64,{{vm.image}}">
                    </div> -->
					<button class="button button-dark button-full choose-image" ng-if="vm.video" ng-click="vm.answerQuestion(true)">
						Guardar respuesta
					</button>
				</div>
			</div>
		</section>
		<section ng-if="vm.examIsFinished">
			<div class="finish-send" ng-hide="vm.examSent && vm.isLastCourseModule">
				<div class="header" ng-if="!vm.examSent">
					<button class="button button-dark button-full text-uppercase" ng-click="vm.saveExam()">
						Terminar y enviar
					</button>
				</div>
				<div class="header" ng-if="vm.examSent">
                    <div ng-if="vm.grade || vm.grade === 0">
                        <p style="line-height: 1.35">RESULTADO:</p>
                        <grade value="vm.grade" show-full="true"></grade>
                    </div>
                    <div ng-if="!(vm.grade || vm.grade === 0)">
                        <p>RESPUESTA ENVIADA</p>
                        <br>
                        El resultado de tu Reto aparecerá en el menú de módulos MASTER THE TRAINING después de su revisión. Tu capacitador también podrá hacértela llegar por medio de una notificación.
                    </div>
				</div>
			</div>
			<div class="block-separator" ng-if="vm.examSent && !vm.isLastCourseModule"></div>
			<div class="next-module" ng-if="vm.examSent">
                <div ng-if="!vm.isLastCourseModule && (vm.grade || vm.grade === 0)">
                    <div class="correct-answers" ng-if="vm.grade || vm.grade === 0">
                        Respuestas correctas: {{vm.countCorrectAnswers()}} de {{vm.content.exam.length}}
                    </div>
                    <br>
                </div>
                <div style="margin-top: 60px" ng-if="vm.isLastCourseModule">
                    <p style="font-family: 'Oswald';font-size: 200%;">RESPUESTA ENVIADA</p>
                    <br>
                    <p>El resultado de tu Reto aparecerá en el menú de módulos MASTER THE TRAINING después de su revisión. Tu capacitador también podrá hacértela llegar por medio de una notificación.</p>
                    <p>De haber aprobado satisfactoriamente todos los módulos, podrás acceder al bloque THE EVIDENCE con información sobre los siguientes pasos para tu certificación.</p>
                    <p>Recuerda que puedes volver a repasar todo el contenido y volver a realizar los Quizes para mejorar tu calificación.</p>
                </div>
				<button class="button button-balanced button-full text-uppercase" ng-disabled="!vm.examSent" ng-click="vm.nextModule()">
					{{ vm.isLastCourseModule ? 'Entendido' : 'Siguiente módulo'}}
				</button>
			</div>
		</section>
	</ion-content>
</ion-modal-view>
