.login {
	width: 100%;
	height: calc(100% + 1px);
    background-image: url('../assets/images/cover_exam_result.png');
    background-repeat: no-repeat;
    background-size: cover;
	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		color: white;
	}

	.login-content {
		height: calc(100% + 1px);
		width: 100%;
		position: relative;
		img {
			width: 80%;
		}

		.button-content,
		.list {
			margin: auto;
			width: 80%;
		}
		.button-content {
			position: absolute;
		    bottom: 20px;
		    left: 0;
		    right: 0;
		}
	}

	.item {
		border-radius: 0;
	}

	input {
		color: rgb(60, 60, 60);
		background: transparent;
		text-align: center;

		&::-webkit-input-placeholder {
			color: darken(white, 25%);
		}
	}
}
