<ion-view hide-nav-bar="true" can-swipe-back="false">
	<ion-content class="login" scroll="false">
		<div class="login-content animated fadeIn">
			<div class="padding text-center">
				<img src="main/assets/images/logo.png" alt="">
			</div>
      <h5 class="padding text-center" ng-if="!vm.sentMessage">Ingrese e-mail para cambiar su contraseña</h5>
			<h5 class="padding text-center" ng-if="vm.sentMessage">Se han enviado instrucciones a su correo.</h5>
			<div class="list list-inset" ng-form="form" ng-if="!vm.sentMessage">
				<label class="item item-input">
					<i class="icon ion-person"></i>
					<input type="text" ng-model="vm.username" placeholder="Email" name="username" ng-required="true">
				</label>
			</div>
			<div class="button-content">
				<button class="button button-block button-balanced" ng-disabled="form.$invalid" ng-click="vm.forgot()" ng-if="!vm.sentMessage">
					<i class="icom ion-log-in"></i> Confirmar
				</button>
				<button class="button button-block button-balanced" ui-sref="login">
					<i class="icom ion-arrow-left-c"></i> Regresar
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
