<ion-view hide-nav-bar="true" can-swipe-back="false">
	<ion-content class="login" scroll="false">
		<div class="login-content animated fadeIn">
			<div class="padding text-center">
				<img src="main/assets/images/logo.png" alt="">
			</div>
			<div class="list list-inset" ng-form="form">
				<label class="item item-input">
					<i class="icon ion-person"></i>
					<input type="text" ng-model="vm.username" placeholder="Email" name="username" ng-required="true" ng-enter="vm.login()">
				</label>
				<label class="item item-input">
					<i class="icon ion-locked"></i>
					<input type="password" ng-model="vm.password" placeholder="Contraseña" name="password" ng-required="true" ng-enter="vm.login()">
				</label>
			</div>
			<button class="button button-clear button-block button-balanced" ui-sref="forgot">
				Olvidé mi contraseña
			</button>
			<div class="button-content" ng-show="!vm.keyBoardOpened">
				<button class="button button-block button-balanced" ng-click="vm.login()" ng-disabled="form.$invalid">
					<i class="icom ion-log-in"></i> Login
				</button>
			</div>
			<!-- <div ng-hide="vm.keyBoardOpened" class="login-footer">
				<span>Hafaspot &copy; {{vm.year}}</span>
			</div> -->
		</div>
	</ion-content>
</ion-view>
